ul {
    list-style: none;
}


.container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    height: 100vh;
}

.header {
    grid-column: 2/-1;
}

.sidebar {
    color: white;
    background-color: #4285F4;
    grid-row: 1 / -1
}

.title{
    margin-left: 5vw;
}

nav{
    margin-top: 10vh;
    margin-left: 5vw;
}

nav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.cards {
    display: grid;
    grid-column: 2 / -1;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, 300px);
    background-color: lightgray;
    gap: 20px;
}


.card {
    background-color: white;
    grid-row: 1fr;
}